.card {
  position: relative;
  width: 540px;
  padding: 50px 40px 0 40px;
  border-radius: 15px;
  background-color: hsl(217, 19%, 24%);
  .adviceNumber {
    margin-bottom: 25px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.32em;
    color: hsl(150, 100%, 66%);
  }
  .adviceText {
    display: block;
    margin-bottom: 40px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -0.01em;
    color: hsl(193, 38%, 86%);
  }
  .divider {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .dividerMob {
    display: none;
  }
  .containerForButton {
    display: flex;
    justify-content: center;
    button {
      // position: absolute;
      display: block;
      margin-bottom: -32px;
      //   left: 237px;
      //   bottom: -31px;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      padding: 4px 0 0 0;
      border: none;
      outline: inherit;
      cursor: pointer;
      background-color: hsl(150, 100%, 66%);
    }
  }
}

@import "mediaQs";
